{% extends "base.html" %}
{% block content %}


<section style="margin-right: 25%;">
  <div class="jumbotron">
  <h1 class="landingh1">Welcome to LocalToken!</h1>
  <p>The first local business focused social media blockchain</p>
  </div>
    <div class="wave water"></div>
    <div class="wave water"></div>
    <div class="wave water"></div>
    <div class="wave water"></div>

</section>


<div class="container-explainer">
      <div class="left-text">
        <p>Lorem Ipsum Habble Gabble Grabbel madk Lorem Ipsum Habble Gabble Grabbel madk
          Lorem Ipsum Habble Gabble Grabbel madk Lorem Ipsum Habble Gabble Grabbel madk
          Lorem Ipsum Habble Gabble Grabbel madk
          Lorem Ipsum Habble Gabble Grabbel madk
        </p>
      </div>
      <div class="locationpic">
      
      </div>
</div>

{% endblock %}